/* Basic sample */

body {
    display: flex;               /* Enables Flexbox */
    justify-content: center;     /* Centers items horizontally */
    align-items: center;         /* Centers items vertically */
    overflow: hidden;
    background-color: #fcfcfc;
    margin: 0;
    background: black;
    height: 100vh;               /* Full viewport height to enable vertical centering */
}

.flipbook-viewport {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    border-radius: 50px;
}

.flipbook-viewport .container {
    /* Ensuring the container takes full size of the viewport */
    width: 100%;
    height: 100%;
}

.flipbook-viewport .flipbook {
    width: 100%;
    height: 100%; /* Set height to 100% of the parent container */
}

.flipbook-viewport .page {
    height: 100%; /* Ensure each page fits the viewport */
    background-color: white;
   
}

.flipbook .page {
    
    
    width: 100%; /* Set page width to 50% of the flipbook */
     height: 100%;
}

.flipbook-viewport .page img {
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
}

.flipbook-viewport .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
   
    
}
